h1{
  text-align: center;
}

.search_section{
  margin: 0 auto;
  width: 30%;
}
.search_bar{
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}
.today_section,
.week_section{
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: 25px;
}

.info{
  display: flex;
  justify-content: space-between;
}

li{ list-style-type: none;}